* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

main {
  width: 80%;
  margin: 0 auto;
  padding: 2em 0;
}

h2 {
  font-weight: 700;
  font-size: 15px;
  padding: 40px 0 0 0;
}

p {
  font-size: 10px;
  padding-top: 20px;
}
