* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Open Sans", sans-serif;
}

main {
  width: 70%;
  margin: 0 auto;
  padding: 2em 0;
}

h2 {
  font-weight: 700;
  font-size: 15px;
  padding: 40px 0 0 0;
}

p {
  font-size: 10px;
  padding-top: 20px;
}

header {
  background-color: white;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #5f6368;
  padding: 0.5em;
}

.img {
  display: flex;
  align-items: center;
}

.privacy {
  padding-left: 0.2em;
  color: #5f6368;
}

ul {
  list-style: none;
  display: flex;
}

li {
  padding-right: 1.5em;
}

li a {
  text-decoration: none;
  color: #5f6368;
  font-size: 10px;
  font-weight: 600;
  padding-bottom: 0.7em;
}

a:hover {
  color: #3367d6;
  border-bottom: 2px solid #3367d6;
}
